<%= stylesheet_link_tag('home.css') %>

<div class="container">
    <div class="sidebar">
        <div class="icon">
            <%= image_tag('icon.jpeg') %>
        </div>

        <div id="line"></div>

        <div class="container_cameras">
            <div class="cameras">
                <h3>Cameras disponiveis</h3>
                <ul>
                    <%= render "cams" %>
                </ul>
            </div>
        </div>

    
    </div>
    <div class="container_painel">
        <section class="painel">
            <div class="body_painel">
                <div class="video_painel">
                    <%= render "video" %>
                </div>
            
                <div class="logs_painel">
                    <ul>
                        <%= render "logs" %>
                    </ul>
                </div>
            </div>
        </section>
        <div class="sidebar_videos">
            <div class="container_videos">
                <div class="videos">
                    <div id="line"></div>
                        <%= render "videos" %>
                    <div id="line"></div>
                </div>
            </div>
        </div>
    </div>
</div>