<%= stylesheet_link_tag('home.css') %>
<div class="sidebar">
<div id="icon_login">
    <%= image_tag('icon.jpeg') %>
</div>
<div id="container_cameras">
    <h3>Cameras disponiveis</h3>
    <ul>
        <% @cams.each do |cam| %>
        <li class="camera-item">
            <a href="/dashboard/cam/<%= cam.identifier %>">
            <%= cam.identifier %> ( <%= cam.status ? "Online" : "Offline" %> )
            </a>
        </li>
        <% end %>
        </ul>
</div>
</div>
<div id="painel">
    <div class="body_painel">

        <div class="video">
            <video id="video" src="exemplo.mp4" type="video/mp4" controls>

            </video>
        </div>
    
        <div class="logs">
            <ul>
            </ul>
        </div>
    </div>
    <div class="sidebar_painel">
        Nenhuma camera aberta
    </div>
</div>